:root {
    --primary-color: #38CFCA;
    --secondary-color: #4FA0FF;
    --secondary-dark-color: #127FFF;
    --color-on-light: #000000;
    --global-border-style: solid;
    --global-border-width: 1px;
    --light-bg: #FFFFFF;
    --color-on-primary-bg: #FFFFFF;
}

body {
    display: flex!important;
    box-sizing: border-box;
    flex-direction: column;
    height: 96vh;
    margin: 0;
}

main {
    flex: 1;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
}

aside {
    overflow: auto;
    height: 100vh;
    padding-right: 0.5rem!important;
    padding-left: 0.5rem!important;
    flex: 0 0 auto;
    margin-top: 0;
    background-color: var(--primary-color);
    border-left: var(--global-border-width) var(--global-border-style) var(--color-on-light);
    border-right: var(--global-border-width) var(--global-border-style) var(--color-on-light);
    border-top: var(--global-border-width) var(--global-border-style) var(--color-on-light);
}

aside > header {
    margin-top: 1rem;
}

aside > header > a > img {
    border-radius: 6em;
    display: block;
    width: 10rem;
}

aside > header > a > span {
    display: block;
    margin-top: 0.5rem;
    text-align: center;
}

aside a {
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: var(--color-on-primary-bg)
}

aside > header > nav {
    margin-top: 2rem;
}

aside > header > nav > a {
    margin-top: 0.5rem;
    background: var(--light-bg);
    color: var(--secondary-dark-color);
    border-style: var(--global-border-style);
    border-color: var(--secondary-color);
    border-width: 0.1rem;
    text-decoration: none;
}

.active {
    background: var(--secondary-color);
    color: var(--color-on-primary-bg);
    border-color: var(--color-on-primary-bg);
    border-width: 0.1rem;
}

h1, h2, h3, h4, h5 {
    color: var(--secondary-dark-color);
}

main > div {
    overflow: auto;
    flex: 1;
    padding-left: 1rem;
    border-top: var(--global-border-width) var(--global-border-style) var(--color-on-light);
    border-right: var(--global-border-width) var(--global-border-style) var(--color-on-light);
}

footer {
    text-align: left;
    font-size: 0.75rem;
    padding-left: 0.75rem;
    background-color: var(--primary-color);
    border-color: var(--color-on-light);
    border-style: var(--global-border-style);
    border-width: var(--global-border-width);
}
