:root {
    --primary-color: #38CFCA;
    --color-on-light: #000000;
    --global-border-style: solid;
    --global-border-width: 1px;
}

body {
    display: flex!important;
    box-sizing: border-box;
    flex-direction: column;
    height: 96vh;
    margin: 0;
}

main {
    flex: 1;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
}

aside {
    overflow: auto;
    height: 100%;
    padding-right: 0.5rem!important;
    padding-left: 0.5rem!important;
    flex: 0 0 auto;
    margin-top: 0;
    background-color: var(--primary-color);
    border-left: var(--global-border-width) var(--global-border-style) var(--color-on-light);
    border-right: var(--global-border-width) var(--global-border-style) var(--color-on-light);
    border-top: var(--global-border-width) var(--global-border-style) var(--color-on-light);
}

aside a {
    display: block;
    padding: 0.5rem 1rem;
}

main > div {
    overflow: auto;
    flex: 1;
    padding-left: 1rem;
    border-top: var(--global-border-width) var(--global-border-style) var(--color-on-light);
    border-right: var(--global-border-width) var(--global-border-style) var(--color-on-light);
}

footer {
    text-align: left;
    font-size: 0.75rem;
    padding-left: 0.75rem;
    background-color: var(--primary-color);
    border-color: var(--color-on-light);
    border-style: var(--global-border-style);
    border-width: var(--global-border-width);
}
